.shadow-xxl {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.custom-checkbox-square {
  width: 20px;
  height: 20px;
}

.bg-linear-violet-300 {
  background: linear-gradient(
    149.29deg,
    #f265e4 0.79%,
    #6664ed 51.24%,
    #5200ff 98.64%
  );
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-size-1 {
  width: 94px;
  height: 94px;
}

.game-size-2 {
  width: 204px;
  height: 94px;
}

.game-size-4 {
  width: 204px;
  height: 204px;
}

.game-size-9 {
  width: 314px;
  height: 314px;
}
// scroll box chat
.box-chat::-webkit-scrollbar {
  width: 2px;
}

.box-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(149, 149, 149, 0.29);
  border-radius: 10px;
}

.box-chat::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
  width: 10px;
}

.responsive-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 94px);
  grid-template-rows: repeat(1, 94px);
}

.count-down {
  box-shadow: inset -1px -2px 0px rgba(247, 97, 214, 0.4);
  // font-family: "Digital Numbers";
  font-style: normal;
}

.shadow-pink-500 {
  box-shadow: 0px 2px 0px #f761d6;
}

.hover-zoom-12 {
  &:hover {
    // transform: scale(1.2);
    transform: scale(1.01869) translate(0px, -4px);
  }
}

.h-0-important {
  height: 0px !important;
}

.opacity-0-important {
  opacity: 0 !important;
}

.btn-login {
  background: linear-gradient(
    149.29deg,
    #4341d1 0.79%,
    #bb37ae 53.28%,
    #af1ba0 98.64%
  );
  box-shadow: inset -2px -2px 1px rgba(0, 0, 0, 0.25);
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-save-gradient {
  background: linear-gradient(
    149.29deg,
    #f265e4 0.79%,
    #6664ed 51.24%,
    #5200ff 98.64%
  );
  box-shadow: 0px 2px 4px #f579f8;
  border-radius: 40px;
  &:hover {
    background: linear-gradient(
      149.29deg,
      #f265e4 0.79%,
      #6664ed 51.24%,
      #5200ff 98.64%
    );
    box-shadow: inset 0px 2px 4px #4a054b;
  }
}
.edit-input {
  background-image: url(../resources/icons/edit-input.svg);
  background-size: 20px;
  background-repeat: no-repeat;
}

.animation-open-modal {
  transform: scale(1);
  transition: 0.2s;
  opacity: 1;
}

.filter-svg {
  filter: invert(0%) sepia(93%) saturate(0%) hue-rotate(284deg) brightness(107%)
    contrast(107%);
}

.hall-of-fame__item {
  background: linear-gradient(180deg, #d34880 0%, #2f0652 100%);
}

.text-gradient-hof {
  background: linear-gradient(180deg, #c4b5fd 0%, #979bff 0.01%, #ef36c6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-gradient-tgp {
  background: linear-gradient(180deg, #8b5cf6 0%, #503098 100%);
}
