.shadow-xxl {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.custom-checkbox-square {
  width: 20px;
  height: 20px;
}

.bg-linear-violet-300 {
  background: linear-gradient(
    149.29deg,
    #f265e4 0.79%,
    #6664ed 51.24%,
    #5200ff 98.64%
  );
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  grid-template-areas:
    ". . ip0 ip0 ip0 imp imp ip2 ip2 ip3 ip3"
    "ip4 ip4 ip0 ip0 ip0 imp imp ip2 ip2 ip3 ip3"
    "ip4 ip4 ip0 ip0 ip0 ip1 ip1 ip1 . ip5 ip5"
    ". . . . . ip1 ip1 ip1 . ip5 ip5"
    ". ip6 ip6 ip7 ip7 ip1 ip1 ip1 . ip8 ip8"
    ". ip6 ip6 ip7 ip7 . . . . ip8 ip8"
    ". . . . . . . . . . ."
    ". . . . . . ip9 ip9 ip9 . ."
    "ip10 ip10 . . . . ip9 ip9 ip9 . ."
    "ip10 ip10 ip11 ip11 . . ip9 ip9 ip9 . ."
    ". . ip11 ip11 . . . . . . ."
    ". . . . . . . . . . ."
    ". . . ip12 ip12 ip12 . . . . ."
    ". . . ip12 ip12 ip12 . ip13 ip13 . ."
    ". . . ip12 ip12 ip12 . ip13 ip13 . ."
    ". . . . . . . . . . ."
    ". ip14 ip14 . . . . . . ip15 ip15"
    ". ip14 ip14 ip16 ip16 . . . . ip15 ip15"
    ". . . ip16 ip16 . . . . . .";
  display: grid;
  grid-template-rows: repeat(auto-fill, 94px);
  grid-gap: 16px;
  grid-auto-flow: dense;
  justify-content: center;
  margin: 16px auto 0px;
  padding: 0px;
  list-style-type: none;
  --gridTemplateColumns: 3;
  grid-template-columns: repeat(11, 94px);
  width: 100%;
}

.game-size-1 {
  width: 94px;
  height: 94px;
}

.game-size-4 {
  width: 204px;
  height: 204px;
}

.game-size-9 {
  width: 314px;
  height: 314px;
}
// scroll box chat
.box-chat::-webkit-scrollbar {
  width: 2px;
}

.box-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(149, 149, 149, 0.29);
  border-radius: 10px;
}

.box-chat::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
  width: 10px;
}

.responsive-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, 94px);
  grid-template-rows: repeat(1, 94px);
}
