.tile-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, 94px);
  grid-gap: 16px;
  grid-auto-flow: dense;
  justify-content: flex-start;
  list-style-type: none;
  width: 100%;
}

.game-grid {
  @apply tile-grid;
}

.category-grid {
  @apply tile-grid;
  justify-content: flex-start;
}

.game-detail-grid {
  @apply tile-grid;
}

@media (min-width: 1871px) {
  .game-grid {
    grid-template-areas:
      "ip0 ip0 ip0 . . . . . . . . ip7 ip7 ip8 ip8"
      "ip0 ip0 ip0 ip4 ip4 ip5 ip5 ip2 ip2 ip2 . ip7 ip7 ip8 ip8"
      "ip0 ip0 ip0 ip4 ip4 ip5 ip5 ip2 ip2 ip2 ip6 ip6 ip3 ip3 ip3"
      "ip10 ip10 ip11 ip11 ip1 ip1 ip1 ip2 ip2 ip2 ip6 ip6 ip3 ip3 ip3"
      "ip10 ip10 ip11 ip11 ip1 ip1 ip1 ip12 ip12 ip13 ip13 . ip3 ip3 ip3"
      " ip15 ip16 ip16 . ip1 ip1 ip1 ip12 ip12 ip13 ip13 ip17 ip17 ip18 ip18"
      " . ip16 ip16 . ip20 ip20 ip21 ip21 ip22 ip22 . ip17 ip17 ip18 ip18"
      " . . . . ip20 ip20 ip21 ip21 ip22 ip22 . . . . ."
      " . ip9 . ip14 . . . . . . . . . . ."
      " . . . . . . . . ip23 ip23 ip23 . . . ."
      " . . . . ip26 ip26 . . ip23 ip23 ip23 . . . ."
      " ip25 ip25 . . ip26 ip26 . . ip23 ip23 ip23 . . . ."
      " ip25 ip25 . . . . . . . . . . . ip27 ip27"
      " . . . . . . . . . . . . . ip27 ip27";
    grid-template-columns: repeat(15, 94px);
    grid-template-rows: repeat(8, 94px);
  }

  .category-grid {
    grid-template-areas:
      "c0 c0 c1 c1 c2 c2 c3 c3 c4 c4 c5 c5 c6 c6 ."
      "c0 c0 c1 c1 c2 c2 c3 c3 c4 c4 c5 c5 c6 c6 ."
      "c7 c7 c8 c8 c9 c9 c10 c10 c11 c11 c12 c12 c13 c13 ."
      "c16 c16 c17 c17 c18 c18 c19 c19 c20 c20 c21 c21 c22 c22 .";
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(15, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .grid-category-detail {
    display: grid;
    gap: 16px;
    grid-template-areas:
      "ct ct ct ct .  .  .  c1 c1 c2 c2 c3 c3 c4 c4"
      "g1 g1 g2 g2 g3 g3 g4 g4 g5 g5 g6 g6 g7 g7 ."
      "g1 g1 g2 g2 g3 g3 g4 g4 g5 g5 g6 g6 g7 g7 ."
      "g8 g8 .  .  .  .  .  .  .  .  .  .  .  .  ."
      "g8 g8 .  .  .  .  .  .  .  .  .  .  .  .  ."
      ".  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
      ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .";
    grid-template-columns: repeat(15, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .game-detail-grid {
    grid-template-areas:
      "ads1 gs gs gs gs gs gs gs bc bc . . . . . "
      "ads1 gs gs gs gs gs gs gs bc bc . . . . . "
      "ads1 gs gs gs gs gs gs gs bc bc . . . . . "
      "ads1 gs gs gs gs gs gs gs ads2 ads2 . . . . . "
      "ads1 gs gs gs gs gs gs gs ads2 ads2 . . . . . "
      "ads1 ste ste ste ste raf raf ads3 ads2 ads2 . . . . . "
      "ads1 ads4 ads4 ads4 ads4 ads4 ads4 ads4 .  .  . . . . . "
      ".  .  .  .  .  .  .   .   .   .   . . . . . "
      ".  .  gi gi gi gi hof hof hof hof . . . . . "
      ".  .  gi gi gi gi hof hof hof hof . . . . . "
      ".  .  gi gi gi gi hof hof hof hof . . . . . "
      ".  .  gi gi gi gi hof hof hof hof . . . . . "
      ".  .  gi gi gi gi hof hof hof hof . . . . . ";
    grid-template-columns: repeat(15, 94px);
    grid-template-rows: repeat(14, 94px);
  }

  .grid-responsive {
    grid-template-columns: repeat(15, 94px);
  }

  .w-responsive {
    width: 1634px;
  }
}

@media (min-width: 1541px) and (max-width: 1870.9px) {
  .game-grid {
    grid-template-areas:
      " ip0 ip0 ip0 ip2 ip2 . . . . . ip4 ip4"
      " ip0 ip0 ip0 ip2 ip2 . ip3 ip3 ip3 . ip4 ip4"
      " ip0 ip0 ip0 .   .   . ip3 ip3 ip3 . ip5 ip5"
      " . . . ip1 ip1 ip1 ip3 ip3 ip3 . ip5 ip5"
      " . ip7 ip7 ip1 ip1 ip1 ip8 ip8 ip9 ip9 . ."
      " . ip7 ip7 ip1 ip1 ip1 ip8 ip8 ip9 ip9 . ."
      " . . . . . . . . . . . ."
      " . . ip6 ip6 . . ip11 ip11 ip11 . . ."
      " . . ip6 ip6 . . ip11 ip11 ip11 . . ."
      " . . . . . . ip11 ip11 ip11 . . ."
      " ip13 ip13 . ip10 ip10 . . . . . . ."
      " ip13 ip13 . ip10 ip10 . ip12 ip12 . . . ."
      " . . . . ip14 ip14 ip12 ip12 . ip15 ip15 ip15"
      " ip16 ip16 . . ip14 ip14 . . . ip15 ip15 ip15"
      " ip16 ip16 . . . . . . . ip15 ip15 ip15";
    grid-template-columns: repeat(12, 94px);
    grid-template-rows: repeat(15, 94px);
  }

  .game-detail-grid {
    grid-template-areas:
      "ads1 gs gs gs gs gs gs gs bc bc . ."
      "ads1 gs gs gs gs gs gs gs bc bc . ."
      "ads1 gs gs gs gs gs gs gs bc bc . ."
      "ads1 gs gs gs gs gs gs gs ads2 ads2 . ."
      "ads1 gs gs gs gs gs gs gs ads2 ads2 . ."
      "ads1 ste ste ste ste raf raf ads3 ads2 ads2 . ."
      "ads1 ads4 ads4 ads4 ads4 ads4 ads4 ads4 .  .  . . "
      ".  .  .  .  .  .  .   .   .   .   . ."
      ".  .  gi gi gi gi hof hof hof hof . ."
      ".  .  gi gi gi gi hof hof hof hof . ."
      ".  .  gi gi gi gi hof hof hof hof . ."
      ".  .  gi gi gi gi hof hof hof hof . ."
      ".  .  gi gi gi gi hof hof hof hof . .";
    grid-template-columns: repeat(12, 94px);
    grid-template-rows: repeat(14, 94px);
  }

  .category-grid {
    grid-template-areas:
      "c1 c1 c2 c2 c3 c3 c4 c4 c5 c5 c6 c6 "
      "c1 c1 c2 c2 c3 c3 c4 c4 c5 c5 c6 c6 "
      "c7 c7 c8 c8 c9 c9 c10 c10 c11 c11 c12 c12"
      "c16 c16 c17 c17 c18 c18 c19 c19 c20 c20 c21 c21 ";
    grid-template-columns: repeat(12, 94px);
    grid-template-rows: repeat(3, 94px);
  }

  .grid-category-detail {
    display: grid;
    gap: 16px;
    grid-template-areas:
      "ct ct ct ct .  .  .  .  .  c1 c1 . "
      "g1 g1 g2 g2 g3 g3 g4 g4 g5 g5 c2 c2 "
      "g1 g1 g2 g2 g3 g3 g4 g4 g5 g5 c3 c3 "
      "g6 g6 g7 g7 g8 g8 .  .  .  .  c4 c4 "
      "g6 g6 g7 g7 g8 g8 .  .  .  .  .  .  "
      ".  .  .  .  .  .  .  .  .  .  .  .  "
      ".  .  .  .  .  .  .  .  .  .  .  .  ";
    grid-template-columns: repeat(12, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(12, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .grid-responsive {
    grid-template-columns: repeat(12, 94px);
  }

  .w-responsive {
    width: 1304px;
  }
}

@media (min-width: 1321px) and (max-width: 1540.9px) {
  .game-grid {
    grid-template-areas:
      "ip0 ip0 ip0 ip2 ip2 ip3 ip3 ip4 ip4 ."
      " ip0 ip0 ip0 ip2 ip2 ip3 ip3 ip4 ip4 ."
      " ip0 ip0 ip0 ip1 ip1 ip1 . ip5 ip5 ."
      " . . . ip1 ip1 ip1 . ip5 ip5 ."
      " ip6 ip7 ip7 ip1 ip1 ip1 . ip8 ip8 ."
      " . ip7 ip7 . . . . ip8 ip8 ."
      " . . . . . . . . . ."
      " . . . . . ip9 ip9 . . ."
      " . . . . . ip9 ip9 . . ."
      " ip11 ip11 . . . ip15 ip15 . . ."
      " ip11 ip11 . . . ip15 ip15 . . ."
      " . . . . ip12 ip12 . . . ."
      " . . . . ip12 ip12 . . . ."
      " ip13 ip13 . ip16 ip16 . . . . ."
      " ip13 ip13 . ip16 ip16 . . ip14 ip14 ."
      " . ip10 . . . . . ip14 ip14 .";
    grid-template-columns: repeat(10, 94px);
    grid-template-rows: repeat(17, 94px);
  }

  .game-detail-grid {
    grid-template-areas:
      "ads1 gs gs gs gs gs gs gs bc bc "
      "ads1 gs gs gs gs gs gs gs bc bc "
      "ads1 gs gs gs gs gs gs gs bc bc "
      "ads1 gs gs gs gs gs gs gs ads2 ads2 "
      "ads1 gs gs gs gs gs gs gs ads2 ads2 "
      "ads1 ste ste ste ste raf raf ads3 ads2 ads2 "
      "ads1 ads4 ads4 ads4 ads4 ads4 ads4 ads4 .  . "
      ".  .  .  .  .  .  .   .   .   .   "
      ".  .  gi gi gi gi hof hof hof hof "
      ".  .  gi gi gi gi hof hof hof hof "
      ".  .  gi gi gi gi hof hof hof hof "
      ".  .  gi gi gi gi hof hof hof hof "
      ".  .  gi gi gi gi hof hof hof hof ";
    grid-template-columns: repeat(10, 94px);
    grid-template-rows: repeat(14, 94px);
  }

  .category-grid {
    grid-template-areas:
      "c1 c1 c2 c2 c3 c3 c4 c4 c5 c5 "
      "c1 c1 c2 c2 c3 c3 c4 c4 c5 c5 "
      "c6 c6 c7 c7 c8 c8 c9 c9 c10 c10  "
      "c16 c16 c17 c17 c18 c18 c19 c19 c20 c20 ";
    grid-template-columns: repeat(10, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(10, 94px);
    grid-template-rows: repeat(6, 94px);
  }

  .grid-category-detail {
    display: grid;
    gap: 16px;
    grid-template-areas:
      "ct ct ct ct . . .  c1 c1 ."
      "g1 g1 g2 g2 g3 g3 g4 g4 c2 c2"
      "g1 g1 g2 g2 g3 g3 g4 g4 c3 c3"
      "g5 g5 g6 g6 g7 g7 g8 g8 c4 c4"
      "g5 g5 g6 g6 g7 g7 g8 g8 .  ."
      ".  .  .  .  .  .  .  .  .  .";

    grid-template-columns: repeat(10, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .grid-responsive {
    grid-template-columns: repeat(10, 94px);
  }

  .w-responsive {
    width: 1084px;
  }
}

@media (min-width: 1211px) and (max-width: 1320.9px) {
  .game-grid {
    grid-template-areas:
      " ip0 ip0 ip0 ip4 ip4 ip2 ip2 ip3 ip3"
      " ip0 ip0 ip0 ip4 ip4 ip2 ip2 ip3 ip3"
      " ip0 ip0 ip0 ip1 ip1 ip1 .   ip5 ip5"
      " .   .   .   ip1 ip1 ip1 .   ip5 ip5"
      " ip6 ip7 ip7 ip1 ip1 ip1 .   ip8 ip8"
      " . ip7 ip7 .   .   .   .   ip8 ip8"
      " .   .   .   .   .   .   .   .   ."
      " .   .   ip10   .   ip9 ip9 ip9 .   ."
      " .   .   .   .   ip9 ip9 ip9 .   ."
      " ip11 ip11 . .   ip9 ip9 ip9 .   ."
      " ip11 ip11 . .   .   .   .   .   ."
      " .    .    . .   .   .   .   .   ."
      " . ip12 ip12 ip12 .  .   .   .   ."
      " . ip12 ip12 ip12 . ip13 ip13 . ."
      " . ip12 ip12 ip12 . ip13 ip13 . ."
      " . . . . . . . . ."
      " . . . . . . . ip15 ip15"
      " ip14 ip16 ip16 . . . . ip15 ip15"
      " . ip16 ip16 . . . . . .";
    grid-template-columns: repeat(9, 94px);
    grid-template-rows: repeat(20, 94px);
  }

  .game-detail-grid {
    grid-template-areas:
      "ads1 gs gs gs gs gs gs gs ads2"
      "ads1 gs gs gs gs gs gs gs ads2"
      "ads1 gs gs gs gs gs gs gs ."
      "ads1 gs gs gs gs gs gs gs ."
      "ads1 gs gs gs gs gs gs gs ."
      "ads1 ste ste ste ste raf raf ads3 ."
      "ads1 ads4 ads4 ads4 ads4 ads4 ads4 ads4 . "
      "bc bc .  .  .  .  .  .  ."
      "bc bc gi gi gi hof hof hof hof  "
      "bc bc gi gi gi hof hof hof hof  "
      ".  .  gi gi gi hof hof hof hof  "
      ".  .  gi gi gi hof hof hof hof  "
      ".  .  gi gi gi hof hof hof hof  ";
    grid-template-columns: repeat(9, 94px);
    grid-template-rows: repeat(14, 94px);
  }

  .grid-category-detail {
    display: grid;
    gap: 16px;
    grid-template-areas:
      "ct ct ct ct .  .  c1 c1 ."
      "g1 g1 g2 g2 g3 g3 g4 g4 ."
      "g1 g1 g2 g2 g3 g3 g4 g4 ."
      "g5 g5 g6 g6 g7 g7 c2 c2 ."
      "g5 g5 g6 g6 g7 g7 c3 c3 ."
      "g8 c4 .  .  .  .  .  .  .";

    grid-template-columns: repeat(9, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(9, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .grid-responsive {
    grid-template-columns: repeat(9, 94px);
  }

  .w-responsive {
    width: 974px;
  }
}

@media (min-width: 991px) and (max-width: 1210.9px) {
  .game-grid {
    grid-template-areas:
      "ip0 ip0 ip0 ip2 ip2 ip3 ip3"
      "ip0 ip0 ip0 ip2 ip2 ip3 ip3"
      "ip0 ip0 ip0 ip1 ip1 ip1 ."
      ". ip5 ip5 ip1 ip1 ip1 ."
      " ip4 ip5 ip5 ip1 ip1 ip1 ."
      " . ip7 ip7 . ip8 ip8 ."
      " ip6 ip7 ip7 . ip8 ip8 ."
      " . . . . . . ."
      " ip9 ip9 ip9 . ip12 ip12 ."
      " ip9 ip9 ip9 . ip12 ip12 ."
      " ip9 ip9 ip9 . . . ."
      " . . . . . . ."
      " . . . . ip10 ip10 ip10"
      " . . . . ip10 ip10 ip10"
      " ip14 ip14 . . ip10 ip10 ip10"
      " ip14 ip14 . . . . ."
      " . . . . . . ."
      " . . ip11 ip11 ip11 . ."
      " . . ip11 ip11 ip11 . ."
      " ip15 . ip11 ip11 ip11 . ."
      " ip15 ip16 ip16 . . . ."
      " . ip16 ip16 . . . ."
      " . ip13 . . . ip17 ip17"
      " . . . . . ip17 ip17";
    grid-template-columns: repeat(7, 94px);
    grid-template-rows: repeat(10, 94px);
  }

  .game-detail-grid {
    grid-template-areas:
      ". . . . . . ."
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      "ads1 ads2 ste ste ste raf ads3"
      "ads1 ads4 ads4 ads4 ads4 ads4 ads4 "
      "bc bc .  .  .  .  . "
      "bc bc .  .  .  .  . "
      "bc bc .  .  .  .  . "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof ";
    grid-template-columns: repeat(7, 94px);
    grid-template-rows: repeat(10, 94px);
  }

  .grid-category-detail {
    display: grid;
    gap: 16px;
    grid-template-areas:
      "ct ct ct .  .  c1 c1"
      "g1 g1 g2 g2 g3 g3 ."
      "g1 g1 g2 g2 g3 g3 ."
      "g5 g5 g6 g6 c2 c2 ."
      "g5 g5 g6 g6 c3 c3 ."
      "g4 g7 g8 c4 .  .  .";

    grid-template-columns: repeat(7, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(7, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .grid-responsive {
    grid-template-columns: repeat(7, 94px);
  }

  .w-responsive {
    width: 754px;
  }
}

.mb-block {
  display: none;
}

.mb-flex {
  display: none;
}

.tbl-flex {
  display: none;
}

// .tbl-hidden {
// }

@media (min-width: 551px) and (max-width: 990.9px) {
  .game-grid {
    grid-template-areas:
      " .   .   ip0 ip0 ip0 "
      " ip1 ip1 ip0 ip0 ip0 "
      " ip1 ip1 ip0 ip0 ip0 "
      " ip2 ip3 ip3 . .  "
      " . ip3 ip3 . . "
      " . . . . . "
      "ip4 ip4 ip4 . .  "
      "ip4 ip4 ip4 . ip5  "
      "ip4 ip4 ip4 . ip5  "
      " ip6 ip6 . . . "
      " ip6 ip6 . . . "
      " . ip7 ip7 ip7 . "
      " . ip7 ip7 ip7 . "
      " ip8 ip7 ip7 ip7 . "
      " . . . ip9 ip9 "
      " . . . ip9 ip9 "
      "ip10 ip10 ip10 . ip12  "
      "ip10 ip10 ip10 . ip12   "
      "ip10 ip10 ip10 . .  "
      " ip13 ip13 . . . "
      " ip13 ip13 ip11 ip11 ip11 "
      " . . ip11 ip11 ip11 "
      " . . ip11 ip11 ip11 "
      "ip14 ip14  . . . "
      "ip14 ip14  . . . "
      " ip15 ip15 . . . "
      " ip15 ip15 . . . "
      " . ip16 ip16 . . "
      " ip17 ip16 ip16 . . "
      " ip17 . . ip18 ip18 "
      " . . . ip18 ip18 ";
    grid-template-columns: repeat(5, 94px);
    grid-template-rows: repeat(10, 94px);
  }

  .grid-category-detail {
    display: grid;
    gap: 16px;
    grid-template-areas:
      ".  ct ct ct g1"
      "c1 c1 g2 g2 g3 "
      "c4 c4 g2 g2 g4 "
      "g6 g7  c2 c2 g5 "
      ".  .  c3 c3 . "
      ".  .  .  . . ";

    grid-template-columns: repeat(5, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .grid-responsive {
    grid-template-columns: repeat(5, 94px);
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(5, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .w-responsive {
    width: 534px;
  }

  .tbl-hidden {
    display: none;
  }

  .tbl-flex {
    display: flex;
  }
}

@media (min-width: 800px) and (max-width: 990.9px) {
  .game-detail-grid {
    grid-template-areas:
      ". . . . . . ."
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      " gs gs gs gs gs gs gs "
      "ads1 ads2 ste ste ste raf ads3"
      "ads1 ads4 ads4 ads4 ads4 ads4 ads4 "
      "bc bc .  .  .  .  . "
      "bc bc .  .  .  .  . "
      "bc bc .  .  .  .  . "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof "
      ".  gi gi gi hof hof hof ";
    grid-template-columns: repeat(7, 94px);
    grid-template-rows: repeat(10, 94px);
  }

  .tbl-hidden {
    display: none;
  }

  .tbl-flex {
    display: flex;
  }

  .tbl-col-7 {
    grid-template-columns: repeat(7, 94px) !important;
  }
}

@media (min-width: 550.9px) and (max-width: 800px) {
  .game-detail-grid {
    grid-template-areas:
      ". . . . .  ."
      " gs gs gs gs gs gs"
      " gs gs gs gs gs gs"
      " gs gs gs gs gs gs"
      " gs gs gs gs gs gs"
      "ste ste ste raf raf ads1"
      "bc bc ads2 ads3 ads3 ads3"
      "bc bc ads2 ads3 ads3 ads3"
      "bc bc ads2 ads3 ads3 ads3"
      "gi gi gi  hof hof hof  "
      "gi gi gi  hof hof hof "
      "gi gi gi  hof hof hof  "
      "gi gi gi  hof hof hof ";
    grid-template-columns: repeat(6, 94px);
    grid-template-rows: repeat(15, 94px);
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .tbl-hidden {
    display: none;
  }
}

@media (min-width: 111px) and (max-width: 550.9px) {
  .game-grid {
    grid-template-areas:
      "ipm ip0 ip0 "
      "ip1 ip0 ip0 "
      "ip2 ip3 ip4 "
      "ip5 ip5 ip6 "
      "ip5 ip5 ip7 "
      "ip8 ip9 ip10 "
      "ip11 ip12 ip12"
      "ip13 ip12 ip12"
      "ip14 ip15 ip16"
      "ip17 ip17 ip18"
      "ip17 ip17 .";
    grid-template-columns: repeat(3, 94px);
    grid-template-rows: repeat(10, 94px);
  }

  .game-detail-grid {
    grid-template-areas:
      ".  gt gt "
      "gs gs gs "
      "gs gs gs "
      "gs gs gs "
      "gsb gsb gsb"
      "bc bc .  "
      "bc bc .  "
      "bc bc .  "
      ".  .  .  ";
    grid-template-columns: repeat(3, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .grid-category-detail {
    display: grid;
    gap: 16px;
    grid-template-areas:
      ".  ct ct "
      "g1 g1 g2 "
      "g1 g1 g3 "
      "g4 g5 g6 "
      "g7 g8 g8 "
      ".  g8 g8 "
      ".  c1 c1 "
      "c2 c2 .  "
      ". c3 c3  "
      "c4 c4 .  ";
    grid-template-columns: repeat(3, 94px);
    grid-template-rows: repeat(5, 94px);
  }

  .grid-responsive {
    grid-template-columns: repeat(3, 94px);
  }

  .grid-category {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 94px);
    grid-template-rows: repeat(auto-fill, 94px);
  }

  .w-responsive {
    width: 314px;
  }

  .mb-hidden {
    display: none;
  }

  .mb-block {
    display: block;
  }

  .mb-flex {
    display: flex;
  }

  .tbl-flex {
    display: flex;
  }
}
